*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lobster', cursive;
}

body {
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
@media only screen and (max-width: 600px) {
        
    
    h1 {
        position: fixed;
        left: 50%;
        top: 45%;
        transform: translate(-50%, -50%);
        text-align: center;
        text-shadow: 0px 0px 5px white;
    }
    
    .carousel-wrapper {
        height: 190px;
        position: relative;
        width: 270px;
        transform: translate(25%, 140%);
        display: none;
        border: 1px solid black;
        box-shadow: 13px 13px 10px white;
        
      }

      .carousel-item {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 25px 50px;
        opacity: 0;
        transition: all 0.5s ease-in-out;
      }
      .arrow{
        border: solid white;
        border-width: 0 3px 3px 0;
        display: inline-block;
        padding: 7px;
      }
      .arrow-prev {
        left: 10px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%) rotate(135deg);
      
      }
      .arrow-next {
        right: 10px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%) rotate(-45deg);
      }
      
      [id^= "item"] {
        display: none;
      }
      .item-1 {
        z-index: 2;
        opacity: 1;
        background: url('pictures/img1.jpg') center;
        background-size: cover;
      }
      .item-2 {
        background: url('pictures/img2.jpg') center;
        background-size: cover;
      }
      .item-3 {
        background: url('pictures/img3.jpg') center;
        background-size: cover;
      }
      
      *:target ~ .item-1{
        opacity: 0;
      }
      #item-1:target ~ .item-1 {
        opacity: 1;
      
      }
      #item-2:target ~ .item-2, #item-3:target ~ .item-3 {
        z-index: 3;
        opacity: 1;
      } 

      .message {
          display: none;
          width: 10rem;
          height: 50px;
          transform: translate(75%, 700%);
        }
        .message h2 {
            font-size: 30px;
            font-family: 'Ubuntu', sans-serif;
            text-align: center;
        
    }
    .circles {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }


    @keyframes animate {
        0% {
            opacity: 1;
            transform: translateY(0);
        }
        
        100% {
            opacity: 0;
            transform: translateY(-800px);

        }
        
    }

    .circles div {
        
        position: absolute;
        display: block;
        width: 10%;
        height: 10%;
        background: url("pictures/heart1.png") center fixed no-repeat;
        background-size: contain;
        bottom: -150px;
        z-index: -1;
        animation: animate 23s linear infinite;
    }
    .circles div:nth-child(1){
        left: 25%;
        width: 80px;
        height: 80px;
        animation-delay: 0s;
        background: url("pictures/flower1.png") center fixed no-repeat;
        background-size: contain;
        
    }
    .circles div:nth-child(2){
        left: 10%;
        width: 20px;
        height: 20px;
        animation-delay: 2s;
        animation-duration: 12s;
    }
    .circles div:nth-child(3){
        left: 70%;
        width: 20px;
        height: 20px;
        animation-delay: 4s;
        
    }
    .circles div:nth-child(4){
        left: 40%;
        width: 60px;
        height: 60px;
        animation-delay: 0s;
        animation-duration: 18s;
        
    }
    .circles div:nth-child(5){
        left: 65%;
        width: 20px;
        height: 20px;
        animation-delay: 0s;
        background: url("pictures/flower1.png") center fixed no-repeat;
        background-size: contain;
    }
    .circles div:nth-child(6){
        left: 75%;
        width: 110px;
        height: 110px;
        animation-delay: 3s;
    }
    .circles div:nth-child(7){
        left: 35%;
        width: 150px;
        height: 150px;
        animation-delay: 7s;
    }
    .circles div:nth-child(8){
        left: 60%;
        width: 25px;
        height: 25px;
        animation-delay: 15s;
        animation-duration: 45s;
    }
    .circles div:nth-child(9){
        left: 20%;
        width: 15px;
        height: 15px;
        animation-delay: 2s;
        animation-duration: 35s;
    }


}